<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samsung.android.sdk.iap.lib"
    android:versionCode="601000004"
    android:versionName="6.1.0">
    <!-- version code [Major/Minor/Bug fix release/Build number ] : x xx xxx xxx -->

    <application>
        <!-- IAP 라이브러리 내 Activity 선언 시작-->

        <activity
            android:name="com.samsung.android.sdk.iap.lib.activity.DialogActivity"
            android:theme="@style/Theme.Empty"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name="com.samsung.android.sdk.iap.lib.activity.CheckPackageActivity"
            android:theme="@style/Theme.Empty"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name="com.samsung.android.sdk.iap.lib.activity.AccountActivity"
            android:theme="@style/Theme.Transparent"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name="com.samsung.android.sdk.iap.lib.activity.PaymentActivity"
            android:theme="@style/Theme.Empty"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|locale|uiMode|fontScale|density"/>

        <!-- IAP 라이브러리 내 Activity 선언 끝-->
    </application>

    <queries>
        <package android:name="com.sec.android.app.samsungapps" />
    </queries>

</manifest>